//font imports
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

//main colors
$primary-bgcolor: #23241F;
$font-color: #a6a28c;
$user-color: #6897BB;


$user-font-size: 12px;

body {
	background-color: $primary-bgcolor;
	color: $font-color;
}
.sideMessage {
	background-color: $primary-bgcolor;
	border-right: 1px solid $font-color;
	@media (max-width: 600px) {
  	border-right: 0px solid $font-color;
  }
}
.hljs {
	padding: 1px 1px!important;
}
code {
	color: #a9b7c6;
}

.userChat {
	padding:0px 0;
	margin: 0px;
	display: flex;
	@media (max-width: 600px) {
		display: block;
	}
}
.mainWindow {
	position:relative;
}
.userName {
	font-family: 'DejaVu Sans Mono', monospace;
	font-size: $user-font-size;
	color: $user-color;
	padding: 8px 4px;
	display:inline-block;
  text-align: right;
  border-right: 1px solid $font-color;
  @media (max-width: 600px) {
  	border-right: 0px solid $font-color;
  	float: left;
  	width: auto;
  	min-width: 50px;
  }
  &:hover {
  	text-decoration: underline;
  	cursor: pointer;
  }
}
.userMessage {
	font-family: 'DejaVu Sans Mono', monospace;
	font-size: $user-font-size;
	text-align: left;
	padding: 8px 6px;
	float: left!important;
	@media (max-width: 400px) {
		float: left;
  	width: auto;
  	word-wrap: normal;
  }
}

h1,h2,h3,h4,h5 {
	color: $font-color;
	font-family: 'Press Start 2P', cursive;
}

p {
	  font-family: monospace;
	  font-size: 12px;
}
.title {
	text-align: center;
}
.mainWindow {

}
pre{
    white-space: pre-wrap;
}

.chatInput {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	textarea {
		resize: none;
		margin: 0;
		border-left: 0px;
		border-right: 0px;
		border-top: 1px solid $font-color;
		border-bottom: 1px solid $font-color;
		background-color: $primary-bgcolor;
		color: $font-color;
		&:focus {
			background-color: $primary-bgcolor;
		}
		@media (max-width: 400px) {
			width: 100%;
 	  }
	}

}